/*Header start*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(90deg, #881600 0%, #710c04 40%, #310000 100%);
    padding: 10px 2px;
    display: flex;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: right;
}

.logo{
    float: left;
    padding: 0 20px;
}

.logo a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo h2{
    font-weight: normal;
    font-size: 33px;
    text-decoration: none;
}
nav.menu li{
    padding: 5px 10%;
    font-size: 25px;
    justify-content: space-between;
}

nav.menu li.selected{
    font-weight: normal;
    text-decoration: underline;
    color: rgb(95, 43, 113)0;
}

nav.menu ul{
    position: relative;
    list-style: none;
    display: flex;
}

nav.menu a{
    color: rgb(255, 98, 0);
    text-decoration: none;
}

nav.menu a:hover
{
    text-decoration: underline;
    color:rgb(255, 255, 255)
}

/*Header end*/

/*Main start*/



section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #000000;
    text-align: center;
}

main{

    top: 10px;
    height: 1002px;
    padding: 10px 5px;
}

h1{
    color: rgb(123, 0, 0);
    font-size: 50px;
    text-align: center;-
}



#bio{
    color: white;
    font-size: x-large;


}